* {
    background-color: #00ffeab0;
    font-size: 5vw;
    font-size: 5hw;
}


 h1 {
    background-color: #ed9980;
    font-size: 8vw;
    font-size: 8hw;

 }


 header {
        font-size: 16vw;

 }

 footer {
        font-size: 10vw;

 }


